
#photoShow {
    height:400px;
    width:400px;
}

#photoShow div {
    position:absolute;
    z-index: 0;
}
#photoShow div.previous {
    z-index: 1;
}

#photoShow div.current {
    z-index: 2;
}

